{:paths ["src" "resources"]
 :deps  {org.clojure/clojure                  {:mvn/version "1.12.5"}
         com.github.clj-easy/graal-build-time {:mvn/version "1.0.6"}}
 :aliases
 {:run-m {:main-opts ["-m" "com.something.app"]}
  :run-x {:ns-default com.something.app
          :exec-fn    func-call
          :exec-args  {:name "Clojure"}}
  :build {:deps       {io.github.clojure/tools.build {:git/tag "v0.10.11"
                                                      :git/sha "c6c670a"}}
          :ns-default build}}}
